- content_for :head do
  :javascript
    $(function() { new Map("main-map", {
        mapCenter: [#{@origin.lat}, #{@origin.lng}],
        locations: #{@sites.to_json} 
       });
     });

#mapping
  %form.search{:action => "#"}
    %input{:type => "text", :size => "60", :name => "search", :value => @search}
    %input{:type => "checkbox", :name => "public", :checked => @public, :value => 'true'}
    %label{:for => "public"}
      Public only
    %input{:type => "submit", :value => "Take me there!"}
  #main-map

- content_for :secondary do
  %ul#locations
    - @sites.each do |site|
      %li
        = link_to site.title, site
        %ul
          - site.facilities.each do |facility|
            %li= facility.facility_type.name