- content_for :head do
  :javascript
    $(function() { new Map("secondary-map", {
        mapZoom   : 15,
        mapControl: 'small',
        locations : [#{@site.to_json}]
      });
    });
  

- content_for :secondary do
  %h4 Nearby Sites
  %ul#locations
    - @site.closest_sites.each do |site|
      %li
        = link_to site.title, site_path(site)
        %ul
          - site.facilities.each do |facility|
            %li= facility.facility_type.name      

%h2= @site.title

#secondary-map

- Facility.access_types.each do |type|
  - if @site.facilities.send(type).any?
    %h3== #{type.titleize} Facilities
    %ul
      - @site.facilities.send(type).each do |facility|
        %li
          = facility.facility_type.name
          - if facility.facility_sub_type
            == (#{facility.facility_sub_type.name})

%h3 Details
%h4 Telephone
%p= @site.telephone

