- content_for :head do
  :javascript
    var locations = new Array();
    locations[0]  = #{@site.to_json};
    $(function() { 
      new Map("location-map", {'locations':locations, 'mapZoom': 15, 'mapControl': 'small'});
    });

- content_for :secondary do
  %h3 Nearby Sites
  %ul
    - @site.closest_sites.each do |site|
      %li= link_to site.title, site_path(site)
      
%h1= @site.title

- if @site.facilities.public.any?
  %h2 Public Facilities
  %ul
    - @site.facilities.public.each do |facility|
      %li
        = facility.facility_type.name
        - if facility.facility_sub_type
          == (#{facility.facility_sub_type.name})

- if @site.facilities.private.any?
  %h2 Private Facilities
  %ul
    - @site.facilities.private.each do |facility|
      %li
        = facility.facility_type.name
        - if facility.facility_sub_type
          == (#{facility.facility_sub_type.name})
      

%h3 Details
%h4 Telephone
%p= @site.telephone